<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>My Hakyll Blag - $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
        <script type="text/javascript"
            src=
            "http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" />
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/">My Hakyll Blag</a>
            </div>
            <div id="navigation">
                <a href="/">Home</a>
                <a href="/about.html">About</a>
                <a href="/contact.html">Contact</a>
                <a href="/archive.html">Archive</a>
            </div>
        </div>

        <div id="content">
            <h1>$title$</h1>

            $body$

        </div>
        <div id="footer">
        <div class="left">
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
                <img alt="Creative Commons License" style="border-width:0"
                    src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" />
            </a>
        </div>
        <div class="right">
            Powered by
            <a href="http://jaspervdj.be/hakyll">Hakyll</a>,
            <a href="http://disqus.com">Disqus</a>
        </div>
        </div>
    </body>
</html>
